<div class="album text-muted">
      <% if logged_in?(:site_admin) %>
      <div>
        <%= link_to "Create New Item", new_portfolio_path(@portfolio_item), class: 'btn btn-success portfolio-btn' %>
      </div>
      <% end %>
  <div class="container">
    <%= source_helper("alert alert-warning") %>

    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">

      <%= render partial: 'portfolio_item', collection: @portfolio_items %>

    </div>
  </div>
</div>  
	