<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Ramblings of a Coder</h1>
    <p class="lead blog-description">OH NO YOU FOUND MY SUPER SECRET BLOG!!!!<br>This is a blog with full CRUD functionality that I should write in more<br>
    I'm also not nuts about the styling to be quite honest, which is why it's so super hidden</p>
      <span>
        <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %> |       
      </span>
      <span>
        <%= link_to  "Topic", topics_path %>
      </span>
  </div>
</div>