<section class="jumbotron text-center port-container">
  <div class="container port-container">
    <h1 class="jumbotron-heading port-heading">My Portfolio</h1>
    <p class="lead text-muted port-header-subtitle"><span>A collection of the glorious things I have made<br>Adding projects...check back soon!<span></p>
    <p>
      <%= link_to 'Find Out More About Me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>