<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
<!--     <img src="https://avatarfiles.alphacoders.com/843/84300.png" alt="Profile Image" width="300">  -->

<%= image_tag "terminator.png", width: 300, alr: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>A 38 year-old boy embarks on his coding journey of magnificence. I must stop John Connor from ruining my future.</p>
  </div>
</div>

