<div class="card" id="about-card">
  <div class="card-body">
    <h1 class="about-text">About Me</h1>

    <div class="row  body-font">
      <div class="col-md-5">
    <!--     <img src="https://avatarfiles.alphacoders.com/843/84300.png" alt="Profile Image" width="300">  -->

        <%= image_tag "terminator.png", width: 300, alr: "profile image" %>


      </div>

      <div class="col-md-7 about-text">
        <p>I was raised in small-town Iowa, then became an adult in New York City. Whether it was academia, statistical analysis, stand-up comed or programming, I have always been fascinated with creation and perfection; making something then the endless pursuit of perfecting it. </p>
        <p>
          <span><a href="https://github.com/JustimusPrime"><%= fa_icon "github" %></a></span>
        </p>

        <p>
          
          <button 
            class="btn btn-danger"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >
            Job History
          </button>

                    <button 
            class="btn btn-danger"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education
          </button>
        </p>
        
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Corporate Donation & Statistics Mgr.
            </div>
            <div class="card card-block">
              Research Consultant
            </div>
          </div>  

          <div class="collapse" id="education">
            <div class="card card-block">
              Bottega
            </div>
            <div class="card card-block">
              New York University, M.A.
            </div>
            <div class="card card-block">
              University of Iowa, B.A
            </div>            
          </div>
        </p>

        </p>
      </div>
    </div>
  </div>  
</div>


<!-- warning is the color of yellow, check doc for better colors -->